@import "../../Global.scss";

.center {
    display: flex;
    align-items: center;

    .sidebar {
        top: 10%;
        left: 20px;
        height: 80vh;
        width: 10vh;
        position: fixed;
        background-color: $CT1;
        border: 2px solid $CC1;
        border-radius: 10px;
    }
}