// Current Colors:
$CC1: #2F3E46;
$CC2: #354F52;
$CC3: #52796F;
$CC4: #84A98C;
$CC5: #CAD2C5;

// Current Accents (#...44):
$CA1: #2F3E4644;
$CA2: #354F5244;
$CA3: #52796F44;
$CA4: #84A98C44;
$CA5: #CAD2C544;

// Current Transparent HEX -> RGB (rgb(R,G,B, 0.7)):
$CT1: rgb(47, 62, 70, 0.7);
$CT2: rgb(53, 79, 82, 0.7);
$CT3: rgb(82, 121, 111, 0.7);
$CT4: rgb(132, 169, 140, 0.7);
$CT5: rgb(202, 210, 197, 0.7);

// ***PALETTES***
// Dark Sea Green Fall (Palette1)
$DSGF1: #2F3E46;
$DSGF2: #354F52;
$DSGF3: #52796F;
$DSGF4: #84A98C;
$DSGF5: #CAD2C5;
